# KivuMarket+ Backend Configuration

APP_NAME=KivuMarket+
APP_ENV=development
APP_URL=http://localhost:8080

# JWT
JWT_SECRET=votre_cle_secrete_tres_longue_et_aleatoire
JWT_EXPIRE=604800

# Database
DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=kivumarket
DB_USERNAME=root
DB_PASSWORD=

# Email (SMTP)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=votre-email@gmail.com
MAIL_PASSWORD=votre-mot-de-passe-d-application

# Google Cloud Storage
GCS_BUCKET=kivumarket-files
GCS_PROJECT=kivu-market-project
GCS_CREDENTIALS=config/gcs-key.json

# Blockchain
ETH_RPC_URL=https://testnet-rpc.gochain.io
CONTRACT_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3
ADMIN_WALLET=0x90C63377CD5A073913ebAdaDbCEd0d27AD5c120e
ADMIN_PRIVATE_KEY=votre_cle_privee_admin
